<!doctype html>
<html>
    <head>
        <title> Create Your Profile </title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <style>
        th { text-align: center; }
        div.center_padding {
            text-align: center;
            padding: 128px 15px;
        }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MySite</a>
                </div>
                <!--div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div--><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <div class="center_padding">
                <h2>你的個人資料</h2>
                <!-- <table class="table table-hover">
                    <tr>
                        <th>留言者</th>
                        <th>時間</th>
                        <th>評價</th>
                    </tr>
                    {% for c in rr.comment_set.all %}
                    <tr>
                        <td> {{ c.visitor }} </td>
                        <td> {{ c.date_time | date:"F j, Y" }} </td>
                        <td> {{ c.content }} </td>
                    </tr>
                    {% endfor %}
                </table> -->
                

                <br /><br />
                {% for e in errors %}
                    <p style="color:red;">{{ e }}</p>
                {% endfor %}

                <form action="" method="post" class="form-horizontal" role="form" style="width:33%; margin:auto; text-align:left">{% csrf_token %}
                    <div class="form-group">
                    <label for="realname">真實姓名:</label>
                    <input id="realname" type="text" name="realname" class="form-control" value="{{realname}}">
                    </div>
                    <div class="form-group">
                    <label for="nickname">暱稱:</label>
                    <input id="nickname" type="text" name="nickname" class="form-control" value="{{nickname}}">
                    </div>
                    <div class="form-group">
                    <label for="department">系級:</label>
                    <input id="department" type="text" name="department" class="form-control" value="{{department}}">
                    </div>
                    <div class="form-group">
                    <label for="motto">座右銘:</label>
                    <textarea id="motto" rows="10" cols="48" name="motto" class="form-control">{{motto}}</textarea>
                    </div>
                    <!-- <div class="form-group">
                    <label for="interest">興趣:</label>
                    <input id="interest" type="text" name="interest" class="form-control" value="{{interest}}">
                    </div> -->
                    <!-- <div class="form-group">
                    <label for="talent">具備才能:</label>
                    <input id="talent" type="text" name="talent" class="form-control" value="{{talent}}">
                    </div> -->
                    <input type="submit" value="提交" class="btn btn-default">

                </form>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>