{% extends 'base.html' %}

{% block title %} 填寫資料 {% endblock %}
{% block h2 %} 填寫您的資料 {% endblock %}

{% block content %}
    <br><br>
            {% for e in errors %}
                    <p style="color:red;">{{ e }}</p>
                {% endfor %}

                <form action="" method="post" class="form-horizontal" role="form" style="width:33%; margin:auto; text-align:left">{% csrf_token %}
                    <div class="form-group">
                    <label for="teamname">隊名:</label>
                    <input id="teamname" type="text" name="teamname" class="form-control" value="{{teamname}}">
                    </div>
                    <div class="form-group">
                    <label for="content">隊伍介紹:</label>
                    <input id="content" type="text" name="content" class="form-control" value="{{content}}">
                    </div>
                    
                   <label for="interest">interest:</label>
                    <select  name="interest" >
                    {% for i in interests %}
                    <option value="{{ i }}"> {{ i }} </option>
                    {% endfor %}
                    </select>
                    <input type="submit" value="提交" class="btn btn-default">

{% endblock %}
{% block img %}
    
{% endblock %}

