{% extends 'base.html' %}

{% block title %} Student Profile {% endblock %}
{% block h2 %} {{student.nickname}}的個人資料 {% endblock %}

{% block content %}
	<p>
						<table class="table">
							<tr>
								<th>姓名</th>
								<th>暱稱</th>
								<th>系級</th>
								<th>座右銘</th>
								<th>興趣</th>
								<th>所屬隊伍</th>
								<th>角色定位</th>
								<th>徽章</th>
								<th>我的最愛</th>
								<th>特殊技能</th>
							</tr>
							<tr>
								<td> {{student.realname}} </td>
								<td> {{student.nickname}}</td>
								<td> {{student.department}} </td>
								<td> {{student.motto}} </td>
								<td> {{student.interest.name}} </td>
								<td> {{student.team}} </td>
								<td> {{student.role}} </td>
								<td> {{student.badge}} </td>
								<td> {{student.follow}} </td>
								<td> {{student.talent}} </td>
							</tr>
						</table>
						<form action="" method="GET">
             				<table align="center">
               					<tr>
                 					<td><input type="hidden"  name="follow" value="{{student.id}}"></td>
                 					{%if student.id != myid%}
                 						{%if student in me.follow.all%}
                 							<td><input type="hidden"></td>
                 						{%else%}
                   							<td><input type="submit" value="收藏"></td>
                 						{%endif%}
                 					{%endif%}
                					</tr>
            				</table>
 	          				</form>
<!-- 						{% if perms.profiles.can_edit_base_profile %}
 -->						<a href="/chatroom/{{ myid }}/{{ student.id }}/">聊天</a>
<!-- 							 <a href="/chatroom?idfrom={{ request.user.student.id }}&idto={{ student.id }}">聊天</a>
 -->						{% endif %}

				</p>
{% endblock %}
{% block img %}
	
{% endblock %}

