{% extends 'base.html' %}

{% block title %} 團隊 {% endblock %}
{% block h2 %} 團隊資料 {% endblock %}

{% block content %}
				<p>
						<p> <a href="/teamroom/{{ team.id }}/"> 團隊聊天室 </a> </p>
						<p> <a href="/applied_list/{{ team.id }}/"> 待審核成員 </a> </p>
						<form action="" method="post">{% csrf_token %}
             				<table align="center">
               					<tr>
                 					<td><input type="hidden"  name="applied" value="{{team.id}}"></td>
                 					{%if team.id != me.team.id%}
                 						{%if team in me.applied.all%}
                 							<td><input type="hidden"></td>
                 							申請已經發送
                 						{%else%}
                   							<td><input type="submit" value="申請加入團隊"></td>
                 						{%endif%}
                 					{%endif%}
                					</tr>
            				</table>
 	          			</form>
 	          			<form action="" method="post">{% csrf_token %}
             				<table align="center">
               					<tr>
                 					<td><input type="hidden"  name="quit" value="{{team.id}}"></td>
                 						{%if team.id != me.team.id %}
                 							<td><input type="hidden"></td>
                 							您不是此團隊成員
                 						{%else%}
                   							<td><input type="submit" value="退出團隊"></td>
                 						{%endif%}
                					</tr>
            				</table>
 	          			</form>
						<table>
							<tr> <td>隊名：</td> <td>{{ team.name }}</td> </tr>
							<tr> <td>有興趣的領域：</td> <td>{{ team.interest }}</td> </tr>
							<tr> <td>團隊介紹：</td> <td>{{ team.content }}</td> </tr>

						</table>
						<p>團隊成員：</p>
						<table class="table">
							<tr>
								<th>姓名</th>
								<th>系級</th>
								<th>座右銘</th>
								<th>角色定位</th>
								<th>詳細資料</th>
							</tr>
						{% for student in team.student_set.all %}
							<tr>
								<td> {{student.realname}} </td>
								<td> {{student.department}} </td>
								<td> {{student.motto}} </td>
								<td> {{student.role}} </td>
								<td> <a href="/other_profile/?id={{ student.id }}">檢視</a> </td>
							</tr>
						{% endfor %}
						</table>
				</p>
{% endblock %}
{% block img %}
	
{% endblock %}

