{% extends 'base.html' %}

{% block title %} Chat Room {% endblock %}
{% block h2 %} {{ team.name }}的聊天室 {% endblock %}

{% block content %}
				<p>
					{% if teamroom %}

						<table class="table">
							<tr>
								<th>綽號</th>
								<th>時間</th>
								<th>留言</th>
							</tr>
						{% for c in teamroom %}
							<tr>
								<td> {{c.speaker.nickname}} </td>
								<td> {{c.date_time}} </td>
								<td> {{c.content}} </td>
							</tr>
						{% endfor %}
						</table>
				</p>
					{% else %}
						<p> 目前還沒有留言! </p>
					{% endif %}
					<br><br>

					{% if member %}
					<form action="" method="post"> {% csrf_token %}
						<table>
							<tr>
								<td> <label for="content">留言：</label></td>
								<td>
									<textarea id="content" rows="10" cols="48" name="content"></textarea>
								</td>
							</tr>
						</table>
						<input type="submit" value="留言">
					</form>
					{% else %}
						<p> 尚未加入此團隊! </p>
					{% endif %}
{% endblock %}
{% block img %}
	
{% endblock %}

