<!doctype html>
<html>
	<head>
		<title> Upload </title>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<style>
		th { text-align : center;}
		div.menus{
			text-align : center;
			padding: 40px 15px;
		}
		</style>
	 </head>
	 <body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Profile</a>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="menus">
				<p>
					<h2>{{ s1.nickname }} 上傳您的大頭貼</h2>
					
					<br><br>
					<form action="" method="post"  enctype="multipart/form-data">{%csrf_token%}
						<table>
  							<tr> <td name="date">上傳日期：</td> <td>{% now "Y-m-d" %}</td> </tr>
							<tr> <td>上傳檔案：</td> <td><input type="file" name="file"></td> </tr>
<!-- 							<tr> <td> <input id="post" type="button" value="送出" /> </td> </tr>
 -->						</table>
						<input type="submit" value="送出" /> 
					</form>
					<!-- <form action="" method="post"> {% csrf_token %}
						<table>
							<tr>
								<td> <label for="content">留言：</label></td>
								<td>
									<textarea id="content" rows="10" cols="48" name="content"></textarea>
								</td>
							</tr>
						</table>
						<input type="submit" value="留言">
					</form> -->
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>