{% extends 'base.html' %}

{% block title %} Upload {% endblock %}
{% block h2 %} {{ s1.nickname }}的上傳空間 {% endblock %}

{% block content %}
	<form action="" method="post"  enctype="multipart/form-data">{%csrf_token%}
						<table>
  							<tr> <td name="date">上傳日期：</td> <td>{% now "Y-m-d" %}</td> </tr>
							<tr> <td>上傳檔案：</td> <td><input type="file" name="file"></td> </tr>
<!-- 							<tr> <td> <input id="post" type="button" value="送出" /> </td> </tr>
 -->						</table>
						<input type="submit" value="送出" /> 
					</form>
{% endblock %}
{% block img %}
	
{% endblock %}

